<div class="content" role="main">
    <h1 class="center">Pokémons</h1>
    <div class="container">
        <div class="row">
            <div class="col l4 m6 s12" *ngFor="let pokemon of pokemonList">
                <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
            </div>
        </div>
    </div>


    <p>Sélectionne ton pokémon :</p>
    <input
        #pokemonInput
        type="number"
        (keyup.enter)="selectPokemon(pokemonInput.value)"
    />

    <div *ngIf="!selectedPokemon">
        <p>Aucun pokémon n'a été trouvé.</p>
    </div>
    <div *ngIf="selectedPokemon" class="selectedPokemon">
        <app-pokemon-card [pokemon]="selectedPokemon"></app-pokemon-card>
    </div>
</div>
<router-outlet></router-outlet>
