<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content" role="main">
    <h1>Un pokémon apparaît !</h1>
    <div class="pokemon-card">
        <div class="picture">
            <img class="pokemon-background" src="../assets/SVGs/pokemon-background.svg">
            <img class="pokemon-state" src="../assets/SVGs/pokemon-state.svg">
            <img class="pokemon-pic" [src]="selectedPokemon.picture">
        </div>
        <div class="properties">
            <h2 class="name">{{selectedPokemon.name}}</h2>
            <span class="types">{{selectedPokemon.types}}</span>
            <div class="row">
                <span class="title">HP</span>
                <span class="value">{{selectedPokemon.hp}}</span>
            </div>
            <div class="row">
                <span class="title">HP</span>
                <span class="value">{{selectedPokemon.cp}}</span>
            </div>
        </div>
    </div>

    <ul>
        <li (click)="selectPokemon(pokemonList[0])">{{pokemonList[0].name}}</li>
        <li (click)="selectPokemon(pokemonList[1])">{{pokemonList[1].name}}</li>
        <li (click)="selectPokemon(pokemonList[2])">{{pokemonList[2].name}}</li>
    </ul>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
