<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content" role="main">
    <h1 class="center">Liste de pokémon</h1>
    <div class="container">
        <div class="row">
            <div class="col l4 m6 s12" *ngFor="let pokemon of pokemonList">
                <div class="card" appBorderCard>
                    <div class="picture">
                        <img class="background" src="../assets/SVGs/pokemon-background.svg">
                        <img class="state" src="../assets/SVGs/pokemon-state.svg">
                        <img class="pic" [src]="pokemon.picture">
                    </div>
                    <div class="properties">
                        <h2 class="name">{{pokemon.name}}</h2>
                        <div class="types">
                            <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">{{ type }}</span>
                        </div>
                        <div class="card-row">
                            <span class="title">HP</span>
                            <span class="value">{{pokemon.hp}}</span>
                        </div>
                        <div class="card-row">
                            <span class="title">HP</span>
                            <span class="value">{{pokemon.cp}}</span>
                        </div>
                        <span class="date">{{pokemon.created | date:"dd/MM/YYYY" }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <p>Sélectionne ton pokémon :</p>
    <input
        #pokemonInput
        type="number"
        (keyup.enter)="selectPokemon(pokemonInput.value)"
    />

    <div *ngIf="!selectedPokemon">
        <p>Aucun pokémon n'a été trouvé.</p>
    </div>
    <div *ngIf="selectedPokemon" class="selectedPokemon">
        <h1>Un pokémon apparaît !</h1>
        <div class="card">
            <div class="picture">
                <img class="background" src="../assets/SVGs/pokemon-background.svg">
                <img class="state" src="../assets/SVGs/pokemon-state.svg">
                <img class="pic" [src]="selectedPokemon.picture">
            </div>
            <div class="properties">
                <h2 class="name">{{selectedPokemon.name}}</h2>
                <span class="types">{{selectedPokemon.types}}</span>
                <div class="card-row">
                    <span class="title">HP</span>
                    <span class="value">{{selectedPokemon.hp}}</span>
                </div>
                <div class="card-row">
                    <span class="title">HP</span>
                    <span class="value">{{selectedPokemon.cp}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
