
.card{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 20px;
    position: relative;
    background: #EFEFF2;
    border-radius: 50px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    .picture{
        width: 210px;
        min-height: 180px;
        display: block;
        margin: 0 auto;
        .pic{
            position: absolute;
            width: 187px;
            height: 186px;
        }
        .state{
            position: absolute;
            width: 180px;
            height: 180px;
        }
        .background{
            position: absolute;
            width: 210px;
            height: 210px;
        }
    }
    .properties{
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 10px;

        filter: drop-shadow(10px 10px 25px rgba(174, 174, 192, 0.4)) drop-shadow(-10px -10px 20px #FFFFFF);

        /* Inside auto layout */
        flex: 1;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        .name{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 60px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #000000;
            /* Inside auto layout */
            flex: none;
            order: 0;
            align-self: center;
            flex-grow: 0;
            width: 100%;
            justify-content: center;
            word-break: break-all;
        }
        .types{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */
            display: flex;
            align-items: center;
            text-align: center;
            color: #000000;
            /* Inside auto layout */
            flex: none;
            order: 1;
            align-self: center;
            flex-grow: 0;
            justify-content: center;
            word-break: break-all;
        }
        .date{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */
            display: flex;
            text-align: end;
            color: #000000;
            /* Inside auto layout */
            flex: none;
            order: 3;
            align-self: flex-end;
            flex-grow: 0;
            justify-content: flex-end;
            word-break: break-all;
            width:100%;
        }
        .card-row{
            /* Auto layout */
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            gap: 35px;
            /* Inside auto layout */
            flex: none;
            order: 2;
            flex-grow: 0;
            width: 100%;
            .title{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
                display: flex;
                align-items: center;
                color: #4B4B4B;
                /* Inside auto layout */
                flex: none;
                order: 0;
                flex-grow: 1;
                word-break: break-all;
            }
            .value{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #4B4B4B;
                /* Inside auto layout */
                flex: none;
                order: 1;
                flex-grow: 0;
                word-break: break-all;
            }
        }
    }

}